<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PSUniverse</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}"/>
</head>
<body>

<div class="container-fluid text-center top-container">
    <img src="{{ url_for('static',filename='images/header-logo.png')}}">
</div>

<h1>Find Penn State Players by High School</h1>
    <form name="searchform" id="searchform" action="{{url_for('getplayers')}}" method="POST">
        <label>Enter keyword for high school:</label>
        <input type="text" name="school"/>
        <input type="submit" value="Submit"/>
        <table>
            <tr>
                <th>High School</th>
                <th>Player Name</th>
                <th>Years on Roster</th>
                <th>Home City</th>
                <th>Home State</th>
            </tr>
            {% for result in results %}
            <tr>
                <td>{{result[0]}}</td>
                <td>{{result[1]}}</td>
                <td>{{result[2]}}</td>
                <td>{{result[3]}}</td>
                <td>{{result[4]}}</td>
            </tr>
            {%endfor%}
        </table>
    </form>
</body>
</html>

